import(XML)
import(RCurl)

export(
    multimir_dbSchema,
    multimir_switchDBVersion,
    multimir_dbInfo,
    multimir_dbInfoVersions,
    multimir_dbCount,
    multimir_dbTables,
    list.multimir,
    get.multimir,
    get.multimir.validated,
    get.multimir.predicted,
    get.multimir.disease,
    get.multimir.by.table,
    multimir.summary,
    parse.multimir,
    get.multimir.cutoffs,
    myurlencode,
    add.multimir.links,
    search.multimir
)

